==
<!--Header-->
	<header class="bg-primary-700 p-2 mt-0 w-full"> <!-- fixed z-10 top-0 --> 
        <div class="container mx-auto flex flex-wrap items-center">
		    <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
				<a class="text-white no-underline hover:text-white hover:no-underline" href="https://rotko.net">
					<h1 class="text-2xl pl-2 hidden">Rotko Networks</h1>
					<img src="{{ 'assets/dist/images/logo.svg'|theme }}" alt="logo" class="h-12">
				</a>
            </div>
			<nav class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
				<ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
				  <li class="mr-3 sm:mr-2">
					<a class="inline-block py-2 px-4 sm:py-1 sm:px-2 text-primary-100 no-underline" href="/">Home</a>
				  </li>
				  <li class="mr-3 sm:mr-2">
					<a class="inline-block text-secondary no-underline hover:text-secondary-200 hover:text-underline py-2 px-4 sm:py-1 sm:px2" href="/gphone">gPhone</a>
				  </li>
				  <li class="mr-3 sm:mr-2">
					<a class="inline-block text-secondary no-underline hover:text-secondary-200 hover:text-underline py-2 px-4 sm:py-1 sm:px2" href="/grapheneos">GrapheneOS</a>
				  </li>
				  <li class="mr-3 sm:mr-2">
					<a class="inline-block text-secondary no-underline hover:text-secondary-200 hover:text-underline py-2 px-4 sm:py-1 sm:px2" href="/blog">Blog</a>
				  </li>
					<li class="mr-3 sm:mr-2">
					<a class="inline-block text-secondary no-underline hover:text-secondary-200 hover:text-underline py-2 px-4 sm:py-1 sm:px2" href="/contact">Contact</a>
				  </li>
				</ul>
			</nav>
        </div>
    </header>
